/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Root variables for colors and font size */
:root {
    --color-fawn: #F4B886; /* Define custom color variables */
    --color-beaver: #A18276;
    --color-peyellow: #FCDFA6;
    --color-ash: #AAC0AA;
    --color-mindaro: #CBE896;
    --font-small-text: 18px; /* Define custom font size variable */
}

/* Resetting default styles and setting base styles */
* {
    box-sizing: border-box; /* Box model for all elements */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset paddings */
    font-family: 'Open Sans', sans-serif; /* Default font */
    color: #fff; /* Default text color */
}

/* Body styles */
body {
    background-image: url('./background.jpg'); /* Background image */
    background-size: cover; /* Cover entire background */
    background-repeat: no-repeat; /* No repeating of background */
}

/* Overlay before body content */
body::before {
    content: ""; /* Empty content */
    position: absolute; /* Positioning */
    z-index: -1; /* Behind other content */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
}

/* Primary container styles */
.primary-container {
    width: 1000px; /* Fixed width */
    height: 100vh; /* Full viewport height */
    background-color: #333; /* Background color */
    margin: 0 auto; /* Center horizontally */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
    padding-top: 140px; /* Top padding */
}

/* Banner styles */
.banner {
    position: fixed; /* Fixed position */
    top: 30px; /* Distance from top */
    width: 1000px; /* Fixed width */
    background-image: url('./banner.png'); /* Banner image */
    background-size: cover; /* Cover entire banner */
    background-repeat: no-repeat; /* No repeating */
    height: 100px; /* Fixed height */
    z-index: 999; /* High z-index to appear above other content */
    left: 0;
    right: 0;
    margin: auto; /* Center horizontally */
}

/* Secondary container styles */
.secondary-container {
    display: flex; /* Flex container */
    gap: 2px; /* Gap between flex items */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 1px; /* Padding */
}

/* Column styles */
.column {
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    padding: 2px; /* Padding */
}

/* Left column styles */
.left {
    padding-left: 10px; /* Left padding */
}

/* Radio container styles */
.radio-container {
    display: flex; /* Flex container */
    gap: 4rem; /* Gap between radio buttons */
    align-items: center; /* Center vertically */
}

/* Radio button styles */
.radio {
    display: flex; /* Flex container */
    gap: 4px; /* Gap between elements */
    padding-top: 4px; /* Top padding */
    padding-bottom: 4px; /* Bottom padding */
    padding-left: 10px; /* Left padding */
    padding-right: 100px; /* Right padding */
    background: #CBE89622; /* Background color */
    border: 1px solid var(--color-mindaro); /* Border */
    font-weight: bold; /* Bold font */
    font-size: var(--font-small-text); /* Custom font size */
}

/* Dropdown styles */
.dropdown {
    margin-top: 5px; /* Top margin */
}

/* Select styles */
select {
    background: #CBE89622; /* Background color */
    border: 1px solid var(--color-mindaro); /* Border */
    font-weight: bold; /* Bold font */
    font-size: var(--font-small-text); /* Custom font size */
    padding-right: 33px; /* Right padding */
}

/* Option styles */
option {
    background-color: #888; /* Background color */
}

/* Hide select styles */
.hide-select {
    opacity: 0; /* Hide element */
}

/* Textarea styles */
textarea {
    margin-top: 20px; /* Top margin */
    width: 100%; /* Full width */
    background: #CBE89622; /* Background color */
    border: 1px solid var(--color-mindaro); /* Border */
    font-size: var(--font-small-text); /* Custom font size */
}

/* Button container styles */
.btn-container {
    display: flex; /* Flex container */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between elements */
    margin-top: 10px; /* Top margin */
}

/* Primary button styles */
.primary-btn {
    padding: 15px; /* Padding */
    background: #A1827622; /* Background color */
    border: 2px solid var(--color-beaver); /* Border */
    width: 150px; /* Fixed width */
    cursor: pointer; /* Cursor on hover */
    position: relative; /* Positioning */
}

/* Overlay effect on primary button hover */
.primary-btn::before {
    content: ""; /* Empty content */
    position: absolute; /* Positioning */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(255, 255, 255, 0.5); /* White overlay with half opacity */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease; /* Transition for smooth effect */
}

/* Show overlay on primary button hover */
.primary-btn:hover::before {
    opacity: 1; /* Full opacity on hover */
}

/* Plot styles */
.plot {
    height: 260px; /* Fixed height */
    width: 485px; /* Fixed width */
    margin-top: 60px; /* Top margin */
    overflow-x: auto; /* Horizontal overflow */
    overflow-y: auto; /* Vertical overflow */
}

/* Table styles */
.table {
    max-height: 200px; /* Maximum height */
    overflow-x: auto; /* Horizontal overflow */
    overflow-y: auto; /* Vertical overflow */
    width: 485px; /* Fixed width */
    border: 3px solid var(--color-mindaro); /* Border */
    margin-top: 5px; /* Top margin */
}

/* Table styles */
table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Collapse borders */
}

/* Table header and cell styles */
.table th,
.table td {
    padding: 8px; /* Padding */
    border: 1px solid #ddd; /* Border */
    text-align: left; /* Left-aligned text */
}
