body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

.top, .center, .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.top > div, .center > div, .bottom > div {
    flex-basis : 30%;
}

.top > div {
    text-align: center;
}

.center > div {
    text-align: center;
}

.bottom > div {
    text-align: center;
}

.scrollable-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.scrollable-list li {
    list-style: none;
}

canvas {
    border: 1px solid #ccc;
}